<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title> TakeItEasy </title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app</noscript>
    <div id="root" style="height:100%"></div>

    <script type="text/javascript">
      window.__ENV__ = '<$- env $>';
      window.__INITIAL_STATE__ = '<$- initialState $>'
    </script>


    <div id="custom-styles"></div>

  </body>
</html>
